<div class="ads-c-dropdown-menu {{ styleModifier }}">
    {{# dropdownButton }}
    {{> molecules-button }}
    {{/ dropdownButton }}
    <ul class="ads-c-dropdown-menu__list">
        {{# dropdownList }}
        <li class="ads-c-dropdown-menu__item">
            <a href="{{ url }}" class="ads-c-dropdown-menu__link">{{ label }}</a>
        </li>
        {{/ dropdownList }}
    </ul>
</div>
