<header class="ads-c-section-header {{ styleModifier }}">

    <h2 class="ads-c-section-header__title">{{{ heading }}}</h2>

    {{# description }}<p class="ads-c-section-header__desc ads-c-text-passage">{{{ description }}}</p>{{/ description }}

</header><!--end ads-c-section__header-->
