/*------------------------------------*\
    #ICON
\*------------------------------------*/

/**
 * 1) Small image that represents functionality
 */
.ads-c-icon {
	height: 16px;
	width: 16px;
	fill: currentColor;
}
