<ul class="ads-c-card-list ads-l-grid {{ styleModifier }}">

    {{# cardItems }}
    <li class="ads-c-card-list__item ads-l-grid__item">
        {{> molecules-card }}
    </li><!--end c-card-list__item-->
    {{/ cardItems}}

</ul><!--end c-card-list-->
