<ul class="ads-c-color-block-list ads-l-grid {{ styleModifier }}">

    {{# colorItems }}
    <li class="ads-c-color-block-list__item ads-l-grid__item">
        {{> molecules-color-block }}
    </li><!--end c-card-list__item-->
    {{/ colorItems}}

</ul><!--end c-card-list-->
