<ul class="ads-c-content-block-list ads-l-grid {{ styleModifier }}">

    {{# contentItems }}
    <li class="ads-c-content-block-list__item ads-l-grid__item">
        {{> molecules-content-block }}
    </li><!--end c-card-list__item-->
    {{/ contentItems }}

</ul><!--end c-card-list-->
