<ul class="ads-c-split-image-passage-list ads-l-grid {{ styleModifier }}">

    {{# splitItems }}
    <li class="ads-c-split-image-passage-list__item ads-l-grid__item">
        {{> molecules-split-image-passage }}
    </li><!--end c-card-list__item-->
    {{/ splitItems}}

</ul><!--end c-card-list-->
