<ul class="ads-c-stacked-block-list ads-l-grid {{ styleModifier }}">

    {{# blockItems }}
    <li class="ads-c-stacked-block-list__item ads-l-grid__item">
        {{> molecules-stacked-block }}
    </li><!--end c-card-list__item-->
    {{/ blockItems}}

</ul><!--end c-card-list-->
