{{# boldHero }}
<div class="ads-c-bold-hero">
	<div class="ads-c-bold-hero__body">
		<div class="ads-l-container">
			<h1 class="ads-c-bold-hero__title">{{ title }}</h1>
			<div class="ads-c-bold-hero__desc">
				{{{ description }}}
			</div>
		</div>
	</div>
</div>
{{/ boldHero }}
