<div class="ads-c-color-block {{ styleModifier }}">
	<div class="ads-c-color-block__color" style="background: {{ backgroundColor }}">
	</div>

	<div class="ads-c-color-block__body">

		{{# title }}
		<h3 class="ads-c-color-block__title">{{ title }}</h3>
		{{/ title }}

		{{# variable }}
		<div class="ads-c-color-block__variable">{{ variable }}</div>
		{{/ variable }}

		{{# description }}
		<div class="ads-c-color-block__desc">{{ description }}</div>
		{{/ description }}

	</div>

</div>
