<div class="ads-c-content-block {{ styleModifier }}">
	<h3 class="ads-c-content-block__title">{{ title }}</h3>
	<div class="ads-c-content-block__desc ads-c-text-passage">
        {{{ description }}}
    </div>
</div>
