<nav class="ads-c-primary-nav" role="navigation">

	<ul class="ads-c-primary-nav__list">

		{{# navItems }}
		<li class="ads-c-primary-nav__item {{ styleModifier }}">

			<a href="{{ url }}" class="ads-c-primary-nav__link {{# navChild }}ads-js-nav-dropdown-trigger{{/ navChild }}">
			{{# navIcon }}
				<svg class="ads-c-icon ads-c-primary-nav__icon-before">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ iconPath }}#{{ navIcon }}"></use>
				</svg>
			{{/ navIcon }}
				{{ label }}
			{{# navChild }}
				<svg class="ads-c-icon ads-c-primary-nav__icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ iconPath }}#chevron-down"></use>
				</svg>
			{{/ navChild }}
			</a>
			<!--end c-primary-nav__link-->

			{{# navChild }}
			<ul class="ads-c-primary-nav__sublist ads-js-nav-dropdown">

				{{# navChildList }}
				<li class="ads-c-primary-nav__subitem">

					<a href="{{ url}}" class="ads-c-primary-nav__sublink">{{ label }}</a>

				</li><!-- end ads-c-nav__sublist__item -->
				{{/ navChildList }}

			</ul><!-- end ads-c-nav__sublist -->
			{{/ navChild }}

		</li>
		<!-- end c-primary-nav__list__item -->
		{{/ navItems }}

	</ul>
	<!-- end c-primary-nav__list -->

</nav>
<!-- end c-primary-nav -->
