<nav class="ads-c-solid-nav" role="navigation">
    <ul class="ads-c-solid-nav__list" role="tablist" aria-multiselectable="true">
		{{# solidNavItems }}
        <li class="ads-c-solid-nav__item">
			<a href="{{ url }}" class="ads-c-solid-nav__link">
				{{# solidNavIcon }}
				<svg class="ads-c-icon ads-c-solid-nav__icon">
		            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ iconPath }}#{{ solidNavIcon }}"></use>
		        </svg>
				{{/ solidNavIcon }}
				<span class="ads-c-solid-nav__text">{{ label }}</span>
			</a>
		</li>
		{{/ solidNavItems }}
    </ul>
</nav>
