<div class="ads-c-badge {{ styleModifier }}">

	{{# badgeIcon }}
	<svg class="ads-c-icon ads-c-badge__icon">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ iconPath }}#{{ badgeIcon }}"></use>
	</svg>
	{{/ badgeIcon }}

	<span class="ads-c-badge__text">{{ badge }}</span>

</div><!-- end ads-c-badge-->
