<div class="ads-c-progress {{ styleModifier }}">
	{{# progressText }}
	<span class="ads-c-progress__text">{{ progressText }}</span>
	{{/ progressText }}
	<progress class="ads-c-progress__bar" max="{{ max }}" value="{{ progressValue }}"></progress>
	<span class="ads-c-progress__label">{{ label }}</span>
</div>
