{{# status }}
<div class="ads-c-status {{ styleModifier }}">

	{{# statusIcon }}
		<svg class="ads-c-icon ads-c-status__icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ iconPath }}#{{ statusIcon }}"></use>
		</svg>
	{{/ statusIcon }}
	<span class="ads-c-status__label">{{{ label }}}</span>

</div><!-- end ads-c-status-->
{{/ status }}
