<div class="ads-c-overflow-carousel">
    <div class="ads-c-overflow-carousel__toolbar">
        <div class="ads-c-overflow-carousel__left">
            <h3 class="ads-c-overflow-carousel__title">{{ title }}</h3>
        </div>
        <div class="ads-c-overflow-carousel__right">
            <div class="ads-c-overflow-carousel__item">
                {{> organisms-button-group }}
            </div>
            <div class="ads-c-overflow-carousel__item">
                {{> molecules-pagination-stepper }}
            </div>
        </div>
    </div>
    {{> organisms-card-list }}
</div>
