{{> organisms-navbar }}

<main role="main">

    <div class="ads-l-container">

        {{> molecules-page-header }}

        {{# cardListSection }}
        {{> organisms-card-list }}
        {{/ cardListSection }}

    </div>
    <!--end l-container"-->

</main>

{{> organisms-footer }}
