{{> organisms-navbar }}

<main role="main">

    {{> molecules-bold-hero }}

    <div class="ads-l-container">

        {{# overflowCarousel }} {{> organisms-overflow-carousel }} {{/ overflowCarousel }}

    </div>
    <!--end ads-l-container-->

</main>

{{> organisms-footer }}