{{> organisms-navbar }}

<main role="main">

    <div class="ads-l-container">

        {{> molecules-page-header }}

        <div class="ads-c-box ads-c-box--padded">
            <div class="ads-l-linelength-container ads-u-align-center">

                {{> organisms-edit-record-form }}

            </div>
            <!--end ads-l-linelength-container-->

        </div>
        <!--end ads-c-box-->

    </div>
    <!--end l-container"-->

</main>

{{> organisms-footer }}