<div class="ads-l-page-layout ads-l-page-layout--two-column-fixed">

    <div class="ads-l-page-layout__secondary">
        {{# verticalNavbar }}
        {{> organisms-navbar }}
        {{/ verticalNavbar }}

    </div><!--end ads-l-page-layout__secondary-->

    <div class="ads-l-page-layout__main">

        <main role="main">

            <div class="ads-l-container ads-u-margin-top-quad">
                {{> molecules-page-header }}

                {{# cardListSection }}
                {{> organisms-card-list }}
                {{/ cardListSection }}

            </div><!--end ads-l-container-->
        </main><!--end role=main-->

        {{> organisms-footer }}

    </div><!--end ads-l-page-layout__main-->

</div><!--end ads-l--two-column-fixed-->
