/*------------------------------------*\
    #WIDTH CLASSES
\*------------------------------------*/

/**
 * Width 25%
 * 1) Force width to 25%
 */
.ads-u-width-25 {
    width: 25% !important;
}

/**
 * Width 50%
 * 1) Force width to 50%
 */
.ads-u-width-50 {
    width: 50% !important;
}

/**
 * Width 75%
 * 1) Force width to 75%
 */
.ads-u-width-75 {
    width: 75% !important;
}

/**
 * Width 100%
 * 1) Force width to 100%
 */
.ads-u-width-100 {
    width: 100% !important;
}
