<label class="ads-c-input-group {{ styleModifier }}" for="{{ id }}">

	<input id="{{ id }}" type="checkbox" name="{{ name }}" value="{{ value }}" class="ads-c-input-group__control" {{# checked}}checked{{/
	 checked }}>
	<span class="ads-c-input-group__text">{{ label }}</span>

</label>
<!-- end c-input-group -->